/bazel-*
hack/icecc/.tongo_build_cluster_config
.bazelbsp
.ijwb
.idea/
.DS_Store
rust-project.json
.mongot
.mongot.yml
.bazelrc.local
*.pyc
__pycache__
maven_install.json

scripts/tools/bazelisk/bazelisk-*
scripts/local-vars.sh
scripts/silkbomb/third-party-tools/*
!scripts/silkbomb/third-party-tools/README.md

scripts/copybara/copy.bara.sky
scripts/copybara/copybara_credentials.yaml
scripts/copybara/mongodb-bot.gitconfig

docker/bazel-cache
docker/volume/cache

evergreen_mongo_artifact

*.swp

community-quick-start/sampledata.archive
community-quick-start/mongot-community-local-docker.tar
community-quick-start/tls/

scripts/tests/copybara/test-results/
